.single_video {
    position: relative;


    .single_video_section {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            background: hsla(180, 4%, 5%, 0.6);
        }
        .description p {
            color: #ffffff;
        }
    }
}