.recentlywatched-videos {
    .single_video {
        height: 350px;
           .video_footer{
            position: absolute;
            bottom: 4px;
            width: 96%;
           } 
    }
    .filter-list {
        position: relative;

        li {
            margin-bottom: 0.5rem;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            .d-flex {
                padding: 6px 20px;
                border-radius: 25px;
                border: 1px solid #d5d5d5;
                background: #eeeeee;

                i {
                    cursor: pointer;
                }
            }

        }
    }

}